.primary-btn{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    padding:15px 38px;

    border:1px solid white;

    color:rgb(0, 0, 0);

    text-decoration:none;

    letter-spacing:3px;

    text-transform:uppercase;

    font-size:12px;

    transition:.35s;

    cursor:pointer;
}

.primary-btn:hover{
    background:transparent;
    color:rgb(255, 248, 248);
}

.primary-btn.filled{
    background:transparent;
    color:rgb(25, 19, 19);
}

.primary-btn.filled:hover{
    background:transparent;
    color:white;
}